{% extends "blog/base.html" %}
{% load blog_tags %}

{% block content %}
  <h1>Contact Us</h1>
    <p>
        Mauris nunc congue nisi vitae suscipit tellus
        mauris a diam. Lacus viverra vitae congue eu consequat ac felis donec et.
        Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis.
        Laoreet non curabitur gravida arcu. Facilisis sed odio morbi quis commodo.
        Eget velit aliquet sagittis id consectetur purus ut faucibus.
        Sed elementum tempus egestas sed. Id donec ultrices tincidunt arcu non sodales
        neque sodales ut.
    </p>


{% endblock %}
